body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12pt;
}

a,
a:visited,
a:focus {
  color: indianred;
}

a:hover {
  color: red;
}

a:hover:active {
  color: pink;
}

#playarea, #save, #stop {
  display: none;
}

input[type="text"] {
  background-color:rgb(25,25,25);
  font-family: monospace;
  color: white;
  width: 3in;
  background-image:none;
  border-radius: 0;
  border:none;
  box-shadow: none;
  padding: 4pt 8pt;
}